<div>
    <div class="col-md-3">
      <div class="marquee">
          <h4><i class="fa fa-bullhorn"></i> &nbsp; Latest Updates</h4>
          <div class="marquee-content">
              <marquee onmouseover="stop()" onmouseout="start()" direction="up" scrollamount="3" height="200">
                 
                  
                  <p style="font-weight: bold;">
                       <span class="fa fa-info-circle" style="color: #033b0f;">Final Verification dates for the schemes of Ministry of Minority Affairs has been extended till 25/02/2021.</span>
                   </p>
                  <p style="font-weight: bold;">
                       <span class="fa fa-info-circle" style="color: #210727;">Last date for submission of application under Top Class Education Scheme for SC students has been extended to 28.02.2021.</span>
                   </p>
                  <p style="font-weight: bold;"><span class="fa fa-info-circle" style="color: #0BBB31;">&nbsp;
                  <a style="color:#b73333;" href="/public/FAQ/moma_advisory.pdf" target="_blank">Important advisories issued by MoMA for INOs, DNOs and SNOs for verification of applications of 3 scholarship schemes of MoMA</a>
                      </span>
                  </p>
                  <hr>
                  <p style="font-weight: bold;"><span class="fa fa-info-circle" style="color: #b73333;">&nbsp;  
                         All applications reverted by MoMA to INOs are available in <b>Application Verification</b> and <b>Application Renewal Verification</b> options in INO login.
                      </span>
                  </p>
                  
                  <hr>
                  <p style="font-weight: bold;">
                       <span class="fa fa-info-circle" style="color: #B01A21;">
              &nbsp;The verification dates for all Pre Matric Central Sector Schemes have been extended <br>
                     <br> <br> Student Form Submission (Pre Matric Schemes): 31st December 2020
                         <br>Institute Verification: 12th February 2021<br>
                         <br>District / State / Board Verification: 20th February 2021<br>
                          
                      </span>
                   </p>
                  
                  <p style="font-weight: bold;">
                       <span class="fa fa-info-circle" style="color: #210727;">
              &nbsp;  The application dates for Central Sector Post/ MCM/ Top class Schemes except schemes of WARB have been extended.   
                     <br><br>Student Form Submission : 20th January 2021<br>
                         <br>Institute Verification: 12th February 2021<br>
                         <br>District / State / Board Verification: 20th February 2021<br>
                          
                      </span>
                   </p>
                    <hr>  
                  <p style="font-weight: bold;">
                      <span class="fa fa-info-circle" style="color: #ff1c1c;">&nbsp;
                          Students applying from the State of  Jharkhand in “CENTRAL SECTOR SCHEME OF SCHOLARSHIPS FOR COLLEGE AND UNIVERSITY STUDENTS” of MHRD (DOHE) are requested to enter their 12th Roll code along with their roll no in the application form.<br>
                     <br> example – Roll Code is  11066 and Roll No is 20168<br>
                     <br> For  Jharkhand  Board Students has to enter 1106620168  format (RollcodeRollNo) in Roll No Column of Application
                      .<br>
                     
                      </span>
                  </p>
                    <hr>
                  <p style="font-weight: bold;"><span class="fa fa-info-circle" style="color: #0BBB31;">&nbsp;<strong>Attention Institutes</strong><br><br>The Institutes which are registered on NSP 2.0 are required to submit
                          Institute Registration Form for AY 2020-21. The Form is available in Institute Login.
                      </span></p>
                  <hr>
                  <p style="font-weight: bold;"><span class="fa fa-info-circle" style="color: #820505;">&nbsp;
                          
                          <a style="color:#b73333;" href="/public/FAQ/NSP_SOP.pdf" target="_blank">Standard Operating Procedures for NSP</a>
                      </span>
                  </p>
                  <hr>
                  
  
              </marquee>
  
          </div>
      </div>
      
  
  </div>
  
  </div>
  
  <div>
      <div class="content">
        <div class="title">Welcome to Scholarship Portal</div>
        <div class="tagline">
          <i>Every Student Matters, Every Students Counts!</i>
        </div>
    
        <table align="center">
            <tr>
                <td><a href="register"><ul><li><span>Apply Now</span></li></ul></a></td>
            </tr>
        </table>
        
        <br>
      </div>
    </div>
  
  