<div class="content">
    <div class="features">
        <div class="features">
            <h1>ABOUT US</h1>
            <div class="cen">
                
                <div class="feature">
                <h2> <b>Vision</b> </h2>
                <p> Scholarships Portal is one-stop solution through which various services starting from student application, application receipt, processing, sanction and disbursal of various scholarships to Students are enabled.This initiative aims at providing a Simplified, Mission-oriented, Accountable, Responsive & Transparent 'SMART' System for faster & effective disposal of Scholarships </p>	
                </div>
                
                <div class="feature">
                <h2> <b>Mission</b> </h2>
                <p> The Mission Mode Project (MMP) of  Scholarships Portal under the National e-Governance Plan aims at providing common electronic portal for implementing various Scholarships schemes launched by Union Government, State Government and Union Territories across the country. Duplicates can be reduced to the maximum extent and Single integrated application for all scholarships</p>	
                </div>
                
                <div class="feature">
                <h2> <b>Objectives</b> </h2>
                <p> Ensure timely disbursement of Scholarships to students Provide a common portal for various Scholarships schemes of Central and State Governments and to create a transparent database of scholars and also avoiding the duplication in processing and harmonisation of different Scholarships schemes & normsApplication of Direct Benefit Transfer </p>
                </div>

                
            </div>
            
        </div>
    </div>  
    <!-- <br><br> <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> 	 -->
</div>

