<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<br>
<br>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


<div class="container">
<div class="row justify-content-center">
<div class="col-md-6">
<div class="card">
<header class="card-header">
	<a href="/adminlogin" class="float-right btn btn-outline-primary mt-1">Admin</a>
	<h4 class="card-title mt-2">Student Login</h4>
</header>
<article class="card-body">
<form #loginForm='ngForm' (ngSubmit)="login(loginForm)">
	<div class="form-group">
		<label>Email address</label>
		<input type="email" class="form-control" id="emailId" aria-describedby="emailHelp" placeholder="Enter the email address"
		 name="emailId" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}" 
		 #email="ngModel" [(ngModel)]="emailId" >
		<div class="alert alert-danger" *ngIf="email.errors?.pattern">
		  Enter valid Email address
		</div>
	</div>
	<div class="form-group">
		<label>Password</label>
			<input type="password" [(ngModel)]="pass" name="password" placeholder="Password" class="form-control" required #password1="ngModel" />
			<div *ngIf="password1.invalid && (loginForm.submitted || password1.touched)" class="alert alert-danger">
			  <div *ngIf="password1.errors.required"> Password is required. </div>
			  <!-- <div *ngIf="password1.errors.pattern"> Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters.</div> -->
			</div>
	</div>
	<div class="form-group">
        <button type="submit" class="btn btn-primary btn-block" [disabled]="loginForm.invalid"> Login  </button>
    </div>
	<div class="form-group">
		<a href="/forgot" class="ml-auto mb-0 text-sm">Forgot Password?</a>
	</div>
</form>
</article>
<div class="border-top card-body text-center">Don't have an account? <a href="/register">Register</a></div>
</div>
</div> 

</div> 


</div> 

