<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag  *ngFor = "let b of scholarship"---------->

<div class="container" >
    <h1 class="well">Scholarship Details</h1>
    <div class="col-lg-12 well">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>S.No</th>
                    <th>Scholarship</th>
                    <th>Description</th>
                    <th>Provider</th>
                    <th>Amount</th>
                    <th>Requirements</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody  *ngFor = "let b of scholarship">
                <tr>
                    <th>{{b.scholarshipid}}</th>
                    <td>{{b.name}}</td>
                    <td>{{b.description}}</td>
                    <td>{{b.provider}}</td>
                    <td>{{b.amount}}</td>
                    <td>{{b.requirements}}</td>
                    <td>
                        <button class="btn-danger" (click)="delete(b.scholarshipid)" >Delete</button>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</div>